/* 슬라이더 */
.slider__img {
  background: url(../img/slider_bg01.png) no-repeat center / cover;
}

.slider {
  position: relative;
}

.slider .desc {
  width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
  box-sizing: border-box;
  text-align: right;
}

.slider .desc h3 {
  font-size: 80px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 30px;
}

.slider .desc p {
  font-size: 28px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
}

.slider .desc .btn a {
  border: 3px solid #fff;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  padding: 7px 26px;
}

.slider__arrow a {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/slider_arrwo.svg);
  width: 28px;
  height: 44px;
}

.slider__arrow .left {
  left: 20px;
}

.slider__arrow .right {
  background-position: -29px;
  right: 20px;
}

/* 메인칼럼 */
.mainColumn__wrap {
  padding: 100px 0;
}

.mainColumn__inner {
  display: flex;
  justify-content: space-between;
}

.mainColumn__inner .column_left {
  width: 40%;
}

.column_left .col_tit {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 70px;
  word-break: keep-all;
}

.column_left .col_sub {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}

.column_left .col_desc {
  line-height: 1.6;
  font-size: 18px;
  font-weight: 400;
  word-break: keep-all;
  margin-bottom: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.column_left .col_name {
  font-weight: 300;
  font-style: 18px;
  color: #666;
}

.column_left .col_name em {
  color: #00ad50;
}

.mainColumn__inner .column_right {
  width: 48%;
}

.column_right figure {
  position: relative;
  overflow: hidden;
}

.column_right figure a {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  transform: translateX(100px) rotate(420deg);
  opacity: 0;
  transition: all 0.6s ease 0s;
}

.column_right figure:hover a {
  opacity: 1;
  transform: translateX(0) rotate(0);
}

/* 칼럼 카드 */
.cardColumn__wrap {
  padding: 100px 0;
}

.cardColumn__inner .card_tit {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.cardColumn__inner .card_tit h3 {
  font-size: 30px;
  font-weight: 500;
}

.cardColumn__inner .card_tit a {
  margin-left: 20px;
}

.card__sub {
  display: flex;
  justify-content: space-between;
}

.card__sub .card {
  width: 18%;
  height: 100%;
  transition: all 0.3s;
}

.card__sub .card:hover {
  transform: scale(1.06);
}

.card__sub .card .card_img {
  margin-bottom: 10px;
}

.card__sub .card .card_desc {
  word-break: keep-all;
}

.card .card_desc h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card .card_desc h3 a:hover {
  text-decoration: underline;
}

.card .card_desc p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card .card_desc .card_name {
  font-size: 14px;
  color: #666;
}

.card .card_desc .card_name em {
  color: #00ad50;
}

/* 스토어 배너 */
.banner__wrap {
  background: url(../img/main_banner.jpg);
  margin: 100px 0;
}

.banner__inner {
  width: 1200px;
  margin: 0 auto;
  padding: 70px 20px;
  text-align: left;
}

.banner__inner .title {
  font-size: 55px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}

.banner__inner .banner_btn {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.banner__inner .banner_btn:hover {
  text-decoration: underline;
}
